<f:be.security.ifAuthenticated>
    <f:then>
        <div id="tx-securedownloads" class="c-sdl-log">
            <f:render section="heading"/>

            <f:render partial="Backend/Filter" arguments="{_all}"/>

            <div class="com-sm-12">
                <f:variable name="count">{logs -> f:count() -> f:format.number(decimals: 0)}</f:variable>
                <f:variable name="traffic">{statistic.traffic -> f:format.bytes()}</f:variable>
                <f:variable name="from">{statistic.from -> f:format.date(format: '{f:translate(key: \'dateformat\')}')}</f:variable>
                <f:variable name="till">{statistic.till -> f:format.date(format: '{f:translate(key: \'dateformat\')}')}</f:variable>

                {f:translate(key: 'module.subheading', arguments: '{0: count, 1: traffic, 2: from, 3: till}') -> f:format.html()}
            </div>

            <f:if condition="{logs}">
                <hr/>
                <f:render partial="Backend/View" arguments="{_all}"/>
            </f:if>
        </div>
    </f:then>
    <f:else>
        <f:be.infobox title="{f:translate(key:'module.unauthorized.title')}" state="2">
            <f:translate key="module.unauthorized.title" />
        </f:be.infobox>
    </f:else>
</f:be.security.ifAuthenticated>
